html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Theme Colors
Primary: #95e1d3
Primary Light: #bdece3
Primary Dark: #6dd6c2
Text: #e6e6e6
Primary Extra Light: #e4f7f4
*/